bug 1 \_> when click pop up start --> doesn't display anything
bug 2 > the click start is really hard to follow
bug 3 > hard to copy /paste

password
kcrgi$q7HxtD$4wZ
